<div class="container bottomCTA">
  <div class="row justify-content-center ">
    <div class="col-12-xl col-md-12 px-5">
      <p class="textBottomCTA py-x">Método de optimización de Perfiles de Tinder + 3 Descripciones personalizadas y persuasivas para aumentar la atención y atracción de las chicas en Tinder.</p>
      <p class="precio">25€</p>
      <p class="text2BottomCTA "><strong>Rellena el formulario y nos pondremos en contacto contigo en 24/48h</strong></p>
      <button type="" name="button" class="buttonBottomCTA"><span>Formulario</span></button>
    </div>
  </div>
</div>
