<div class="container bottomCTA">
    <div class="jumbotron" style="background:transparent !important; padding: 0rem !important">
      <p class="textBottomCTA">Método de optimización de Perfiles de Tinder + 3 Descripciones personalizadas y persuasivas para aumentar la atención y atracción de las chicas en Tinder. </p>
      <p class="precio">25€</p>
      <p class="text2BottomCTA"><strong>Rellena el formulario y nos pondremos en contacto contigo en 24/48h</strong></p>
        <div class="center">
          <button type="button" name="button" class="botonCTA"><span>Formulario</span></button>
        </div>
    </div>
</div>
