<div class="container-fluid bottomCTA py-2">
    <div class="jumbotron pb-n4 " style="background:transparent !important; padding: 0rem !important; max-width: 550px;">
      <div class="form-group pt-5 px-5">
        <label for="exampleInputEmail1" class=" text2BottomCTA">Déjanos tu email y nos pondremos en contacto contigo en 24/48h</label>
        <label for="exampleInputEmail1" class="text-white">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="tuemail@email.com">
        <div class="col pt-5 ml-n3">
          <button type="submit" class="botonCTA"><span>Enviar</span></button>
        </div>
      </div>
    </div>
</div>
