<header class="header  sticky-top">
  <div class="container">
    <div class="d-flex">
      <div class="p-1 py-0 px-1 flex-grow-1 bd-highlight scroll">
        <a href="#inicio"
          ><img
            src="/assets/img/logo-copy.png"
            alt="como triunfar en tinder logo"
        /></a>
      </div>
      <div class="p-1 pt-2 px-1 text-aling-center scroll">
        <a href="#footer"
          ><button type="button" class="botonHeader" href="#footer">
            <span>Mejorar en Tinder</span>
          </button></a
        >
      </div>
    </div>
  </div>
</header>
