<div class="container-fluid containerbloque">
  <div class="row mx-auto">
    <div class="col-12">
      <img
        src="assets/img/rocket-right.png"
        srcset="
          assets/img/rocket-right@2x.png 2x,
          assets/img/rocket-right@3x.png 3x
        "
        class="logo-cohete-dcha"
      />
      <blockquote class="bloqueTexto2">
        Llamar la atención en Tinder y llevar la conversación a una cita
        presencial para poder llegar a algo más íntimo, no es sencillo.
      </blockquote>
    </div>
  </div>
</div>
