<div class="container-fluid rounded bannerCTA pb-5" id="inicio">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-top my-lg-1 my-md-5 my-sm-5 my-xs-5 pb-4 pl-4"
      >
        <h1
          class="titleBannerCTA text-xl-left text-lg-left text-md-center text-sm-center"
        >
          ¡Cómo triunfar en Tinder!
        </h1>
        <p
          class="textBannerCTA text-xl-left text-lg-left text-md-center text-sm-center"
        >
          La forma más sencilla y eficaz de conseguir más matches y
          conversaciones en Tinder
        </p>
        <div class="center">
          <a href="#footer"
            ><button
              type="button"
              name="button"
              class="botonCTA d-xl-block d-lg-block"
            >
              <span>Voy a mejorar mi perfil de Tinder</span>
            </button></a
          >
        </div>
      </div>
      <div
        class="col-lg-3 col-md-12 col-sm-12 col-xs-12 pt-lg-5 pt-md-2 pt-sm-1 py-sm-5 my-sm-1 d-xl-none d-lg-none py-5"
      >
        <img
          src="assets/img/movil-1-light.png"
          alt="imagen app esperando matches en tinder"
          class="img mx-auto d-block my-lg-5 my-md-2 my-sm-5  imgTamaño"
        />
      </div>
      <div
        class="col-lg-3 col-md-12 col-sm-12 col-xs-12 pt-lg-5 pt-md-2 pt-sm-1 my-sm-1 d-xl-none d-lg-none"
      >
        <img
          src="assets/img/movil-2-light.png"
          alt="imagen app perfil de tinder mejorado"
          class="img mx-auto d-block my-lg-5 my-md-2 my-sm-5 imgTamaño"
        />
      </div>
      <div class="col-6-lg align-self-top d-none d-xl-block d-lg-block px-4 ">
        <img
          src="assets/img/moviles-desktop.png"
          alt="imagen app comparando tinder sin mejorar y mejorado"
          class="img mx-auto d-block my-lg-1 imgTamaño2"
        />
      </div>
    </div>
  </div>
</div>
