<div class="container-fluid rounded bannerCTA pb-5 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-self-center pl-xl-5 my-lg-5 my-md-5 my-sm-5 pb-5">
        <h1 class="titleBannerCTA text-xl-left text-lg-left text-md-center text-sm-center pl-xl-5 pl-lg-5 pl-md-4 pl-sm-3" >¡Cómo triunfar en Tinder!</h1>
        <p class="textBannerCTA text-xl-left text-lg-left text-md-center text-sm-center pl-xl-5 pl-lg-5 pl-md-4 pl-sm-3">La forma más sencilla y eficaz de conseguir más matches y conversaciones en Tinder</p>
        <div class="center pl-xl-5 pl-lg-5">
          <button type="button" name="button" class="botonCTA d-xl-block d-lg-block"  data-toggle="modal" data-target="#exampleModalCenter"><span>Escríbenos</span></button>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pt-lg-5 pt-md-2 pt-sm-1 my-sm-1">
      <img src="assets/img/movil-1.png" alt="imagen movil tinder" class="img mx-auto d-block my-lg-5 my-md-2 my-sm-5 imgTamaño">
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pt-lg-5 pt-md-2 pt-sm-1 my-sm-1">
      <img src="assets/img/movil-2.png" alt="imagen movil tinder" class="img mx-auto d-block my-lg-5 my-md-2 my-sm-5 imgTamaño">
    </div>
  </div>

  </div>
</div>
