
p {
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.18px;
  color: #292929;
}
.botonHeader {
 width: 112px;
 height: 33px;
 border-radius: 19px;
 border: solid 0.5px #f82901;
 background-color: #ffffff;
}
.botonHeader span {
 width: 60px;
 height: 16px;
 font-family: Roboto;
 font-size: 14px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: -0.79px;
 color: #f82901;
}
.botonCTA{
  width: 200px;
  height: 39px;
  border-radius: 19px;
  background-color: #ffffff;
  align-items: center;
}
div.center {
  text-align: center;
  padding-top: 13px;
}
.botonCTA span {
  width: 77px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.01px;
  color: #fc2d7a;
}
/*  dessde aquí Fer */
.header.div {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;

}
.bannerCTA {
  padding-top: 40px;
  margin-top: -90px;
  margin-bottom: 42px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(75deg, #fc2d7a 12%, #fd4e69 57%, #fe7257 70%);

}
.titleBannerCTA {
  margin-top: 0px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.56px;
  text-align: center;
  color: #ffffff;
}
.textBannerCTA {

  padding-top: 16px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.47px;
  color: #ffffff;
  text-align: center;
}
.logo-tinder-izq {
 margin-top: 16px;
 position: absolute;
 width: 86px;
 height: 97px;
}
.bloqueTexto {
  width: auto;
  max-width: 800px;
  height: 72px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1.18px;
  color: #494949;
  z-index: 1;
}
.containerbloque {
  position: relative;
  padding-bottom: 32px;
  display: inline-flex;
}

.bloqueTexto2{
  width: auto;
  height: 72px;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1.18px;
  color: #494949;
  z-index: 1;
}
.logo-cohete-dcha {
  margin-top: 16px;
  position: absolute;
  width: 86px;
  height: 97px;
}
.logo-cohete-dcha {
  position: absolute;
  align-content: flex-end;
}
.tresPasos {
  text-align: center;
}
.bottomCTA {
  width: 100%;
  height: 500px;
  border-radius: 42px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(62deg, #fc2d7a 12%, #fd4e69 55%, #fe7257 67%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.textBottomCTA {
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.18px;
  text-align: center;
  color: #ffffff;
}
.precio  {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2.03px;
  color: #fcf8f8;
}
.text2BottomCTA{
  font-family: Roboto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.18px;
  text-align: center;
  color: #ffffff;
  }
.buttonBottomCTA {
  width: auto;
  height: 42px;
  border-radius: 17px;
  background-color: #ffffff;
  align-items: center;
  }
.buttonBottomCTA span {
  width: auto;
  height: 24px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.18px;
  color: #fc2f79;
}
